{% extends 'admin/homepageadmin.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">{{ page_title }}</h3>
            <h6 class="op-7 mb-2">Activity Monitoring Dashboard</h6>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a href="{{ path('app_activity_new') }}" class="btn btn-primary btn-round">Add Activity</a>
        </div>
    </div>

    {% endblock %}