{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Create New Order</h1>

        {{ include('commande/_form.html.twig') }}
    </div>
{% endblock %} 