{% extends 'base.html.twig' %}

{% block title %}New Product - GestionProduit{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="h3 mb-0">Create New Product</h1>
        </div>
        <div class="card-body">
            {{ include('product/_form.html.twig') }}
        </div>
    </div>
{% endblock %} 