<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="blue">
            <a href="{{ path('app_home') }}" class="logo">
                <img src="{{ asset('img/kaiadmin/logo_light.svg') }}" alt="Logo" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            
            
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#base">
               <!--bl fas msh fa awesom 5 -->
                <i class="fas fa-comment"></i>
                
                <p>BLogs</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="base">
                <ul class="nav nav-collapse">
                    <li>
                      


                        <a href="{{ path('app_sportif_blogs') }}">
                          <span class="sub-item">All Blogs</span>
                      </a>
                      </li>
                  <li>
                    <a href="{{ path('app_sportif_create_post') }}" class="btn btn-primary">
                      <span class="sub-item">New Blog</span>
                    </a>
                  </li>
                  <li>
                    <a href="components/buttons.html">
                      <span class="sub-item">My BLogs</span>
                    </a>
                  </li>
                  <li>
                    <a href="components/gridsystem.html">
                      <span class="sub-item">Statistics</span>
                    </a>
                  </li>
                  
                  
                  
                  
                  
                  
                </ul>
              </div>
            </li>
            

            </ul>
          </div>
          <!--<div class="page-category">Inner page content goes here</div>-->
        </div>
      </div>
</div>
<style>

</style>