{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Create New Payment</h1>

        {{ include('payment/_form.html.twig') }}
    </div>
{% endblock %} 