<h1>Détails de l'utilisateur</h1>

<p>Nom : {{ user.nom }}</p>
<p>Prénom : {{ user.prenom }}</p>
<p>Email : {{ user.email }}</p>

{% if specialite %}
    <p>Spécialité : {{ specialite }}</p>
{% else %}
    <p>Aucune spécialité définie</p>
{% endif %}